# Ignorar entornos virtuales
venv/
.env/

# Ignorar cachés y archivos temporales
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar datos personales
*.csv
*.xlsx
